// Typography
$font-heading: 'Barlow', sans-serif;
$font-body:  'Barlow', sans-serif;
$font-size-base: 16px !default; // Assumes the browser default, typically `16px`
$h1-font-size: 60px !default;
$h2-font-size: 40px !default;
$h3-font-size: 24px !default;
$h4-font-size: 20px !default;
$h5-font-size: 16px !default;
$h6-font-size: 14px !default;

// Colors
$color-primary: #F16622;
$color-primary-dark: #C76B00;
$color-text: #353535;
$color-border: rgba(#fff, .2);
$color-secondary: #395CAE;
$color-heading: #131313;
$color-bg: #fff;
$color-gray: rgba(#fff, .6);
$color-dark: #1a1a1a;
$color-field-bg: #1a1a1a;
$color-dark1: #353535;
$color-dark2: #848484;
$color-dark4: #E7E7E7;
$color-dark3: #cdcdcd;
$color-dark5: #f7f7f7;
$color-dark6: #aaa;
$color-black: #131313;
$color-white: #fff;

// Layout
$container-width: 1360px;
$gutter:  30px;
$border-radius: 10px;

$transition-drawer: all 0.45s cubic-bezier(0.29, 0.63, 0.44, 1);
