body {
  font-family: $font-body;
  font-size: $font-size-base;
  font-weight: normal;
  line-height: 1.5;
  color: $color-text;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $color-bg;
}

// Typography
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0;
  margin-bottom: 0.5em;
  color: $color-heading;
  font-weight: 500;
  padding: 0;
  font-family: $font-heading;
}

h1, .h1 {
  font-size: $h1-font-size;
  line-height: 68px;
  @media (max-width: 767px) {
    font-size: 44px;
    line-height: 64px;
  }
}

h2, .h2 {
  font-size: $h2-font-size;
  line-height: 56px;
  @media (max-width: 767px) {
    font-size: 18px;
    line-height: 32px;
  }
}

h3, .h3 {
  font-size: $h3-font-size;
  line-height: 35px;
}

h4, .h4 {
  font-size: $h4-font-size;
  line-height: 28px;
}

h5, .h5 {
  font-size: $h5-font-size;
  line-height: 24px;
}

h6, .h6 {
  font-size: $h6-font-size;
  line-height: 22px;
}

.container {
  max-width: 1160px;
  padding-left: 60px;
  padding-right: 60px;
  width: 100%;
  margin: 0 auto;
}
