.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  padding: 0 45px;
  height: 48px;
  background-color: $color-primary;
  border: 1px solid $color-primary;
  color: #fff;
  transition: all .3s;

  &:hover{
    background-color: $color-primary-dark;
    border: 1px solid $color-primary-dark;
    color: #fff;
  }

  &--outline {
    background-color: #fff0;
    border: 1px solid $color-primary;
    color: $color-primary;

    &:hover{
      background-color: $color-primary;
    }
  }

  &--white{
    color: #fff;
  }
}