body.has-popup{
  &:before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color-dark,0.7);
    z-index: 991;
  }
}
.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 990;
  transition: all .5s;

  &.is-sticky, &--white,
  .woocommerce-cart &,
  .woocommerce-checkout &,
  .search-results & {
    background: #FFFFFF;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);

    .main-navigation {
      .menu-item {
        a {
          color: $color-heading;
        }

        &-has-children {
          > a:before {
            border-top: 3px solid $color-heading;
          }
        }
      }
    }

    .site-actions > a {
      color: $color-heading;

      &:last-child {
        border-left: 1px solid rgba($color-heading, 0.2);
      }
    }

    .site-actions__cart {
      color: $color-heading;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 110px;
  }
}

.site-actions__cart {
  position: relative;
  color: #fff;
  transition: color 0.3s ease-in-out;

  .is-sticky & {
    color: $color-heading;
  }
}

.cart-contents-count {
  position: absolute;
  top: -50%;
  left: calc(100% + 5px);
  font-size: 14px;
  font-weight: 600;
}

.site-branding {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 110px;
  height: 110px;

  img {
    width: 100%;
    height: 100%;
  }
}

.main-navigation {
  .menu {
    display: flex;
    margin: 0;
    padding: 0;
    height: 100%;

    &-item {
      position: relative;
      height: 100%;
      font-size: 16px;
      line-height: 24px;
      list-style: none;
      padding: 20px 30px;

      &:first-child {
        padding-left: 0;
      }

      > a {
        position: relative;
        color: #fff;

      }

      &-has-children {
        > a {
          cursor: default;

          &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 100%;
            border-bottom: 3px solid #fff0;
            border-right: 3px solid #fff0;
            border-top: 3px solid #ffffff;
            border-left: 3px solid #fff0;
            margin-left: 8px;
          }
        }
      }


      .sub-menu {
        position: absolute;
        top: 100%;
        left: 50%;
        border-top: 3px solid $color-primary;
        background: #fff;
        margin: 0;
        padding: 0;
        transform: translate3d(-50%, 20px, 0);
        transition: all .3s;
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
        box-shadow: 0px 10px 20px 10px rgba(0, 0, 0, 0.1);

        &:before {
          content: "";
          position: absolute;
          bottom: 100%;
          left: 50%;
          border-top: 10px solid #fff0;
          border-right: 10px solid #fff0;
          border-bottom: 10px solid $color-primary;
          border-left: 10px solid #fff0;
          transform: translateX(-50%);
        }

        .menu-item {
          padding: 0;

          &:not(:last-child) {
            box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
          }

          a {
            display: flex;
            align-items: center;
            height: 54px;
            padding: 0 20px;
            min-width: 245px;
            text-align: left;
            color: $color-dark1;
            transition: all .3s;
            cursor: pointer;

            &:hover {
              background-color: $color-primary;
              color: #fff;
            }
          }
        }
      }

      &:hover {
        .sub-menu {
          opacity: 1;
          pointer-events: visible;
          visibility: visible;
          transform: translate3d(-50%, 0, 0);
        }
      }
    }

    > ul {
      padding: 0;
    }
  }
}

.site-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  > a {
    padding: 0 24px;
    color: #fff;

    &:hover {
      color: $color-primary;
    }

    &:last-child {
      padding-right: 0;
      border-left: 1px solid $color-border;
    }
  }

  &__toggle {
    display: none;
    position: relative;
    width: 16px;
    height: 16px;
    border: 0;
    padding: 0;
    background-color: #fff0;
    outline: none;
    margin-left: 16px;

    span {
      position: absolute;
      left: 50%;
      width: 100%;
      height: 2px;
      background-color: #fff;
      transition: all .3s;

      &:nth-child(1) {
        top: 2px;
        transform: translate3d(-50%, 0, 0);
      }

      &:nth-child(2) {
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
      }

      &:nth-child(3) {
        bottom: 2px;
        transform: translate3d(-50%, 0, 0);
      }
    }

    .is-sticky &,
    .site-header--white &,
    .woocommerce-cart &,
    .woocommerce-checkout & {
      span{
        background-color: #000;
      }
    }

    .is-toggle & {
      span {
        background-color: #fff;
        &:nth-child(1) {
          top: 50%;
          transform: translate3d(-50%, -50%, 0) rotate(45deg);
        }

        &:nth-child(2) {
          transform: translate3d(-50%, -50%, 0);
          opacity: 0;
        }

        &:nth-child(3) {
          bottom: 50%;
          transform: translate3d(-50%, 50%, 0) rotate(-45deg);
        }
      }
    }
  }
}

.menu-toggle {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #fff;
  padding: 80px 20px 0;
  display: none;
  flex-flow: column;
  transform: translateX(100%);
  transition: all .3s;

  &__nav {
    margin-top: 20px;
    flex: 1;

    ul {
      padding: 0;
      margin: 0;

      &.sub-menu {
        display: none;
        li{
          overflow: hidden;
          border-bottom: 0;
          transition: all .3s;
          > a{
            font-weight: 500;
            font-size: 18px;
            line-height: 26px;
            height: 26px;
            margin-bottom: 15px;
          }
        }
      }

      li {
        width: 100%;
        list-style-type: none;
        margin: 0;
        border-bottom: 1px solid $color-border;

        > a {
          display: inline-flex;
          align-items: center;
          height: 78px;
          font-weight: 600;
          font-size: 28px;
          line-height: 32px;
        }

        &:last-child {
          border-bottom: 0;
        }

        &.menu-item-has-children{
          position: relative;

          &:after{
            content: "";
            position: absolute;
            top: 38px;
            right: 0;
            width: 0;
            height: 0;
            border-top: 4px solid #fff0;
            border-right: 4px solid #fff0;
            border-bottom: 4px solid #fff;
            border-left: 4px solid #fff;
            transform: rotate(-45deg) translateY(-50%);
            margin-left: 10px;
            transition: all .3s;
          }

          > a{
            position: relative;
            &:before{
              content: "";
              position: absolute;
              bottom: 12px;
              left: 0;
              width: 0;
              height: 4px;
              background-color: $color-primary;
              transition: all .3s;
            }
          }

          &.is-active {
            &:after{
              transform: rotate(135deg) translateY(-50%);
            }

            > a{
              &:before{
                width: 100%;
              }
            }
          }
        }
      }
    }
  }

  &__info {
    font-size: 14px;
    line-height: 22px;
    color: rgba($color-dark3, 0.8);
    padding-bottom: 30px;

    p {
      margin-bottom: 5px;
    }
  }
}

.site-footer {
  background-image: url("./images/footer-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 45px;
  padding-bottom: 85px;

  .container {
    max-width: 1440px;
  }
}

.footer {
  &-search {
    margin-bottom: 30px;

    &__heading {
      font-size: 40px;
      line-height: 56px;
      font-weight: bold;
      max-width: 290px;
      margin-bottom: 0;
      color: #fff;
    }

    &__form {
      position: relative;
      width: 100%;
      max-width: 420px;
      margin-top: 10px;
      input{
        color: #fff;
      }
    }

    &__control {
      width: 100%;
      height: 55px;
      border: 1px solid $color-dark2 !important;
      background-color: #fff0 !important;
      padding-left: 20px !important;
      padding-right: 55px;
      font-size: 16px;
      line-height: 24px;
      outline: none;
    }

    &__button {
      position: absolute;
      top: 0;
      right: 0;
      width: 55px;
      height: 55px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 0;
      background-color: #fff0;
      padding: 0;
      cursor: pointer;
      transition: all .3s;
      color: $color-dark2;

      &:hover {
        color: $color-primary;
      }
    }
  }

  &-info {
    &__location {
      color: #fff;
      font-size: 16px;
      line-height: 24px;
      max-width: 185px;
      margin-bottom: 20px;
    }

    &__contact {
      display: flex;
      flex-flow: column;

      a {
        color: #fff;
        font-size: 16px;
        line-height: 24px;
      }
    }
  }

  &-menu {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 24px;

    &__item {
      margin-right: 45px;
    }

    &__heading {
      display: inline-flex;
      font-weight: 600;
      margin-bottom: 20px;
      color: #fff;
      &:after,&:before{
        transition: all .3s;
      }
      &.is-active{
        &:before{
          transform: rotate(0deg);
        }
      }
    }

    ul {
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        padding: 0;
        margin: 0 0 10px;

        a {
          color: $color-dark4;

          &:hover {
            color: $color-primary;
          }
        }
      }
    }
  }

  &-copyright {
    color: rgba($color-dark3, 0.8);
    font-size: 14px;

    &__menu {
      a {
        margin-right: 55px;
        font-size: 16px;
        line-height: 24px;
        color: rgba($color-dark3, 0.8);

        &:hover {
          color: $color-primary;
        }
      }
    }
  }
}

.header-search {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $color-black;
  z-index: 991;
  transform: translateY(-100%);
  transition: all .3s;

  &.is-active {
    transform: translateY(0);
  }

  .grid {
    height: 145px;
  }

  &__control {
    display: flex;
    align-items: center;
    width: 100%;
    height: 44px;
    font-size: 20px;
    font-weight: 600;
    background-color: #fff0;
    background-image: url("images/bxs-search.svg");
    background-repeat: no-repeat;
    background-position: left 9px;
    background-size: 14px 14px;
    transition: all .3s;

    .header-search__label & {
      padding-left: 30px;
      padding-bottom: 15px;
      border: 0;
      border-bottom: 1px solid $color-dark1;
      border-radius: 0;
      color: $color-dark2;
    }

    &::placeholder{
      color: $color-dark2;

    }

    &:focus {
      outline: none;
      border-bottom: 1px solid $color-primary;
    }
  }

  &__meta {
    width: 100%;
    font-size: 14px;
    line-height: 22px;
    text-align: right;
    color: $color-dark2;
    margin: 3px 0 0;
  }
}

#primary {
  .page-template-default & {
    padding-top: 170px;
    padding-bottom: 100px;
  }
}

.footer-copyright__menu {
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: $mobile) {
  .site {
    overflow: hidden;
  }
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .main-navigation {
    display: none;
  }
  .site-header {
    &__wrapper {
      height: 80px;
      position: relative;
      z-index: 1;
    }
  }
  .site-branding {
    left: -20px;
    width: 80px;
    height: 80px;
  }
  .site-actions {
    > a {
      padding: 0 16px;
      border-right: 2px solid $color-border;

      .is-toggle & {
        opacity: 0;
        pointer-events: none;
      }
    }

    &__toggle {
      display: block;
    }
  }
  .menu-toggle {
    display: flex;

    .is-toggle & {
      transform: translateY(0);
    }
  }
  .header-search{
    .grid{
      height: 80px;
    }
    &__meta{
      display: none;
    }
    &__control{
      font-weight: 500;
      font-size: 16px;
      line-height: 26px;
      padding: 0;
      border: 0;
      background-image: none;
      color: #fff;
      &::placeholder{
        color: #848484;
      }
    }
    button{
      display: block !important;
      width: 16px;
      height: 16px;
      padding: 0;
      border: 0;
      background-color: #fff0;
      background-image: url("images/bxs-search.svg");
      background-size: contain;
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
    }
  }
  .site-footer{
    padding-bottom: 30px;

    .single-product & {
      padding-bottom: 100px;
    }
  }
  .footer{
    &-search{
      margin-bottom: 0;
      &__heading{
        max-width: 100%;
        font-size: 34px;
        line-height: 40px;
        margin-bottom: 32px;
      }
    }
    &-info{
      &__location{
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 22px;
        max-width: 100%;
      }
      &__contact{
        flex-flow: wrap;
        justify-content: space-between;
        a{
          font-size: 14px;
          line-height: 22px;
        }
      }
    }
    &-menu{
      flex-wrap: wrap;
      &__item{
        width: 100%;
        margin: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid $color-dark1;
        ul{
          display: none;
          li{
            padding-left: 10px;
            margin-bottom: 10px;
          }
        }
      }
      &__heading{
        position: relative;
        font-size: 16px;
        line-height: 24px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 0;
        width: 100%;
        &:before,&:after{
          content: "";
          position: absolute;
          top: 50%;
          right: 0;
          width: 12px;
          height: 2px;
          margin-top: -1px;
          background-color: #fff;
        }
        &:before{
          transform: rotate(90deg);
        }
      }
    }
    &-copyright{
      .grid{
        flex-flow: column-reverse;
      }
    }
  }
}

.footer-search__form {
  p {
    position: relative;
    margin: 0;
  }

  .wpcf7-email {
    width: 100%;
    height: 55px;
    padding: 3px 3px 3px 20px;
    background: none;
    border-radius: 3px;
    border-color: $color-dark2;
    color: $color-white;
    font-size: 16px;
    line-height: 24px;
    outline: none;
  }

  .wpcf7-submit {
    position: absolute;
    top: 0;
    right: 0;
    width: 55px;
    height: 55px;
    background-image: url("images/arrow.svg");
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: center;
    background-color: transparent;
    border: none;
    text-indent: -9999px;

    &:hover,
    &:focus {
      cursor: pointer;
      background-image: url("images/arrow-hover.svg");
    }
  }

  .wpcf7-form-control-wrap.newsletter {
    display: none;
    opacity: 0;
    visibility: hidden;
  }
}

@media screen and (max-width: $mobile) {
  .site-header {
    &__wrapper {
      justify-content: flex-end;
    }
  }

  .menu-toggle__nav ul li > a {
    font-size: 24px;
  }

  .menu-toggle__nav ul li.is-active .sub-menu {
    display: block;
  }
}

@media screen and (min-width: $mobile+1) {
  .site-header {
    > .container {
      max-width: calc(100% - 220px);
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

@media screen and (max-width: $large - 1) {
  .site-actions__cart {
    pointer-events: none;
  }
}

@media screen and (min-width: $large) {
  .site-header {
    &__wrapper {
      justify-content: center;
    }

    > .container {
      max-width: 980px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

@media screen and (min-width: $xlarge) {
  .site-header {
    &__wrapper {
      justify-content: space-between;
    }

    > .container {
      max-width: 1160px;
      padding-left: 60px;
      padding-right: 60px;
    }
  }
}
