/*!
Theme Name: Sport floor
Theme URI: http://underscores.me/
Author: Panicbear Studio
Author URI: https://panicbear.studio/
Description: Made by Panic Bear studio with love!
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: sport-floor
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

Sport floor is based on Underscores https://underscores.me/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------

# Abstracts
  - Functions
  - Mixins
  - Variables
# Generic
  - Grid
  - Helpers
  - Normalize
# Pages
  - Home
- Base
- Common
- Components

--------------------------------------------------------------*/

// Import variables and mixins.
@import "abstracts/mixins";
@import "abstracts/variables";
@import "abstracts/functions";

/* Normalize
--------------------------------------------- */
@import "generic/normalize";

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
@import "base";

/*--------------------------------------------------------------
# Generic
--------------------------------------------------------------*/
@import "generic/grid";
@import "generic/helpers";

/*--------------------------------------------------------------
# Common
--------------------------------------------------------------*/
@import "common";

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
@import "components";

/*--------------------------------------------------------------

# layout
--------------------------------------------------------------*/
@import "layout";

/*--------------------------------------------------------------
# Pages
--------------------------------------------------------------*/
@import "pages/home";
@import "pages/collection-page";
@import "pages/collection-detail";
@import "pages/shop";
@import "pages/product-detail";
@import "pages/care-and-mantainance";
@import "pages/blogs";
@import "pages/about";
@import "pages/contact";
@import "pages/search";
