.about-page{
  padding-top: 110px;
}

.about-header{
  padding-top: 85px;
  padding-bottom: 0;
}

.about{
  &-banner{
    margin-top: 75px;
    img{
      width: 100%;
      height: 480px;
      object-fit: cover;
    }
  }
  &-why-us{
    padding-bottom: 120px;
  }
}

.team-grid{
  &__thumbnail{
    margin-bottom: 15px;
    img{
      width: 100%;
      height: 400px;
      object-fit: cover;
    }
  }
  &__title{
    color: #fff;
    font-weight: 600;
    margin-bottom: 0;
  }
  &__position{
    display: block;
    font-size: 14px;
    line-height: 22px;
    color: rgba(#fff,0.6);
    margin-bottom: 15px;
  }
  &__description{
    color: #fff;
  }
}

@media screen and (max-width: $mobile) {
  .about-page{
    padding-top: 80px;
  }
  .about-header{
    padding-top: 60px;
    .heading{
      margin-bottom: 0;
      &__title{
        margin-bottom: 0;
      }
    }
  }
  .about-banner{
    margin-top: 35px;
    height: 125px;
    img{
      height: 100%;
    }
  }
  .about-why-us{
    padding-bottom: 45px;
    .grid {
      flex-flow: column-reverse;
    }
  }
  .grid{
    &--box{
      display: -webkit-box;
      flex-flow: row;
      overflow-y: hidden;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      .grid__column{
        max-width: 300px;
      }
    }
  }
}
