.blogs-banner {
  height: 620px;
  padding-top: 110px;
  background-color: #000;

  .grid {
    &__column {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &__image {
    height: 510px;

    .image {
      height: 510px;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }

  &__content {
    color: #fff;
    padding-top: 65px;

    .heading {
      max-height: 112px;
      margin-bottom: 25px;
      overflow: hidden;
    }

    h2 {
      color: #fff;
    }
    .swiper-pagination{
      display: none;
    }
  }

  &__date {
    color: $color-dark3;
    display: block;
    margin-bottom: 5px;
  }

  &__description {
    display: block;
    margin-bottom: 10px;
    color: rgba(#fff, 0.8);
  }

  .slide-arrow {
    margin-top: 60px;
  }
}

.blogs-post {
  padding-top: 80px;
  padding-bottom: 120px;
}

.blog-detail {
  padding-top: 170px;

  &__container {
    margin-left: auto;
    margin-right: auto;
  }

  &__date {
    text-align: center;
    color: $color-dark2;
    display: block;
  }

  &__thumbnail {
    img {
      width: 100%;
      height: auto;
    }

    margin-bottom: 40px;
  }

  &__content {
    font-size: 16px;
    line-height: 24px;
    color: $color-dark1;

    p {
      margin: 20px 0;
    }

    img {
      width: 100%;
      height: auto;
      margin: 20px 0;
    }
  }
}

.blog-social {
  margin-top: 40px;
  padding-bottom: 80px;

  &__title {
    display: block;
    text-align: center;
    margin-bottom: 18px;
  }

  &__icons {
    display: flex;
    justify-content: center;
    align-items: center;

    > a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 48px;
      height: 48px;
      background-color: rgba($color-primary, 0.1);
      border-radius: 100px;
      color: $color-primary;
      margin: 0 10px;

      svg {
        width: 16px;
        height: 16px;
      }

      &:hover {
        background-color: $color-primary;
        color: #fff;
      }
    }
  }
}

@media screen and (max-width: $mobile) {
  .blogs-banner {
    height: auto;

    &__image {
      height: 335px;

      .image {
        height: 335px;
      }
    }

    &__content {
      padding-top: 24px;
      padding-bottom: 70px;

      .swiper-pagination{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        bottom: 30px;
        .swiper-pagination-bullet{
          width: 10px;
          height: 10px;
          background-color: #fff;
          margin: 0 5px;
          opacity: 1;
        }
        .swiper-pagination-bullet-active{
          background-color: $color-primary;
        }
      }
    }
  }
  .blogs-post {
    padding-top: 35px;
    padding-bottom: 90px;
  }
  .blog-detail{
    padding-top: 120px;
    .heading{
      margin-bottom: 50px;
    }
  }
  .blog-social{
    padding-bottom: 90px;
  }
}
