.tabs{
  &__item{
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(#000, 0.1);
    transition: all .3s;
    &.is-active{
      border-bottom: 2px solid $color-primary;
      .tabs__header:before{
        transform: rotate(0deg);
      }
    }
  }
  &__header{
    display: block;
    width: 100%;
    position: relative;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    &:after,&:before{
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      width: 12px;
      height: 2px;
      margin-top: -1px;
      background-color: #000;
      transition: all .3s;
    }
    &:before{
      transform: rotate(90deg);
    }
  }
  &__content{
    display: none;
    p{
      margin-top: 15px;
      margin-bottom: 10px;
    }
  }
}

.tabs-section{
  padding-bottom: 105px;
  padding-bottom: 105px;
}

.about-care{
  padding-top: 65px;
  padding-bottom: 65px;
}

.featureds{
  padding-top: 80px;
  padding-bottom: 55px;
}

@media screen and (max-width: $mobile) {
  .detail-menu{
    position: fixed;
    bottom: 0;
    z-index: 99;
    &__wrapper{
      padding: 0;
    }
    .btn{
      width: 125px;
      padding: 0;
    }
    h5{
      font-size: 14px;
      line-height: 22px;
      font-weight: 600;
    }
  }
  .about-care{
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .tabs-section{
    padding-bottom: 45px;
  }
  .product-card{
    padding-bottom: 10px;
  }
  .featureds{
    padding-top: 60px;
    padding-bottom: 60px;
  }
}