.detail-menu {
  position: relative;
  height: 80px;
  width: 100%;
  background-color: $color-black;

  &__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: $color-black;
    padding-right: 32px;
    z-index: 990;

    &.is-sticky {
      position: fixed;
    }
  }

  ul {
    display: flex;
    align-items: center;

    li {
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        padding: 0 32px;
        position: relative;
        color: #fff;
        font-weight: 600;

        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 50%;
          height: 5px;
          width: 0%;
          transform: translateX(-50%);
          background-color: $color-primary;
        }
      }

      &.is-active {
        a {
          color: $color-primary;

          &:before {
            width: 100%;
          }
        }
      }
    }
  }

  .btn {
    width: 245px;
  }
}

.detail-features {
  padding-bottom: 100px;
  color: #fff;

  .heading {
    margin-bottom: 70px;

    h2 {
      color: #fff;
      font-weight: bold;
    }
  }

  &__thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &.is-active {
      opacity: 1;
      visibility: visible;
    }
  }

  &__item {
    position: relative;
    transition: all .3s;
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid $color-border;

    &:last-child {
      padding-bottom: 0px;
      margin-bottom: 0px;
      border-bottom: 0 !important;
    }

    @media screen and (min-width: $mobile + 1) {
      &.is-active {
        border-bottom: 1px solid $color-primary;

        .detail-features {
          &__number {
            color: $color-primary;
            opacity: 1;
          }

          &__title {
            color: $color-primary;
          }
        }
      }
    }
    > img{
      display: none;
    }
  }

  &__number {
    position: absolute;
    top: -10px;
    right: 100%;
    margin-right: 50px;
    font-size: 40px;
    line-height: 56px;
    font-weight: bold;
    opacity: 0.3;
    transition: all .3s;
  }

  &__title {
    color: #fff;
    font-weight: 600;
    transition: all .3s;
  }
}

.benefits {
  padding-bottom: 120px;

  .heading {
    margin-bottom: 80px;
  }

  .grid {
    margin-left: -35px;
    margin-right: -35px;

    &__column {
      padding: 0 35px;
    }
  }

  &-card {
    &__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80px;
      height: 80px;
      background-color: rgba($color-primary, 0.1);
      margin-bottom: 24px;

      svg {
        width: 40px;
        height: 40px;
      }
    }

    &__title {
      font-weight: 600;
      padding-bottom: 15px;
      margin-bottom: 15px;
      border-bottom: 1px solid rgba(#000, 0.1);
    }
  }
}

.product-card {
  text-align: center;

  &__thumbnail {
    position: relative;
    padding-top: 100%;
    width: 100%;
    height: 0;
    overflow: hidden;
    margin-bottom: 15px;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:hover {
      .product-card__add {
        transform: translateY(0);
      }
    }
  }

  &__add {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: $color-primary;
    color: #fff;
    font-weight: 600;
    transform: translateY(100%);
    transition: all .3s;
  }

  &__title {
    font-weight: 600;
    margin-bottom: 0;

    &:hover {
      color: $color-primary;
    }
  }

  &__price {
    display: block;
    width: 100%;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: $color-primary;
    padding-bottom: 20px;
  }
}

.projects__slider {
  margin-left: -15px;
  margin-right: -150px;
  overflow: visible;

  .swiper-slide {
    width: 420px;
  }
}

.project-grid {
  padding-bottom: 60px;

  &__thumbnail {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: percentage(249/420);
    margin-bottom: 15px;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    font-weight: 600;
    margin-bottom: 0;
  }

  &__location {
    margin: 0;
  }
}

.detail-contact-us {
  padding-top: 0;
  padding-bottom: 105px;

  .heading {
    margin-bottom: 30px;
  }

  img {
    width: 100%;
    height: 335px;
    object-fit: cover;
  }

  .btn {
    width: 100%;
    max-width: 244px;
  }
}

.detail-about {
  p {
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
  }
}

@media screen and (max-width: $mobile) {
  .detail-about {
    padding-top: 30px;
    padding-bottom: 10px;

    .heading {
      margin-bottom: 20px;
    }

    p {
      font-weight: 500;
    }
  }
  .detail-features {
    padding-top: 50px;
    padding-bottom: 50px;
    &__thumbnail {
      display: none;
    }
    &__number{
      display: block;
      position: relative;
      top: 0;
      right: 0;
      opacity: 1;
      margin-bottom: 15px;
      margin-right: 0;
    }
    .heading{
      margin-bottom: 40px;
    }
    &__item{
      p{
        opacity: 0.8;
        margin-bottom: 40px;
      }
      > img{
        display: block;
        width: 100%;
        height: auto;
      }
    }
  }
  .benefits {
    padding-bottom: 60px;
    .heading{
      margin-bottom: 45px;
    }
    &-card{
      position: relative;
      padding-left: 70px;
      margin-bottom: 40px;
      &:last-child{
        margin-bottom: 0;
      }
      &__icon{
        position: absolute;
        top: 0;
        left: 0;
        width: 50px;
        height: 50px;
        svg{
          width: 20px;
          height: 20px;
        }
      }
      &__title{
        padding-bottom: 0;
        margin-bottom: 10px;
        border-bottom: 0;
      }
    }
  }
  .detail-products{
    padding-bottom: 30px;
    .heading{
      margin-bottom: 30px;
    }
    .product-card{
      padding-bottom: 20px;
    }
  }
  .detail-blog{
    padding-bottom: 0;
    .heading{
      margin-bottom: 30px;
    }
  }
  .detail-menu{
    &--collection{
      .detail-menu__wrapper{
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
}

.grid-collection__products {
  align-items: stretch;
}
