.contact-page {
  background-color: #000;
  padding-top: 915px;
  margin-top: 110px;
  position: relative;

  &__header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 480px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.contact-form{
  position: absolute;
  top: 230px;
  left: 0;
  width: 100%;
  &__wrapper{
    background-color: #fff;
    display: flex;
  }
  &__info{
    width: 40%;
    padding: 50px 60px 35px;
  }
  &__content{
    width: 60%;
    background-color: rgba($color-primary,0.1);
    padding: 50px 88px;
    p{
      margin: 0;
      br{
        display: none;
      }
    }
    input{
      width: 100%;
      height: 44px;
      padding: 0 16px;
      margin-bottom: 20px;
      outline: none;
      border: 1px solid #fff;
      transition: all .3s;
      &:focus{
        border: 1px solid $color-primary;
      }
    }
    textarea{
      width: 100%;
      height: 132px;
      padding: 11px 16px;
      margin-bottom: 20px;
    }
    .wpcf7-submit{
      background-color: $color-primary;
      color: #fff;
      margin-bottom: 0;
      cursor: pointer;
      &:hover{
        background-color: $color-primary-dark;
        border: 1px solid $color-primary-dark;
        color: #fff;
      }
    }
    //.wpcf7-response-output{
    //  display: none !important;
    //}
    .ajax-loader{
      opacity: 0;
    }
    //.wpcf7-not-valid-tip{
    //  display: none;
    //}
  }
  &__heading{
    margin-bottom: 30px;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 35px;
  }

  &__title{
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
  }

  &__item{
    margin-bottom: 30px;
  }

  &__description{
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{
      margin: 0;
    }
    a{
      &:hover{
        color: $color-primary;
      }
    }
  }

}

.wpcf7 form.sent .wpcf7-response-output {
  margin-top: -20px;
  padding: 0;
  border: none;
  color: #46b450;
  text-align: center;
}
@media screen and (max-width: $mobile) {
  .contact-page{
    padding-top: 0;
    margin-top: 80px;
    &__header{
      display: none;
    }
  }
  .contact-form{
    position: relative;
    top: 0;
    left: 0;
    > .container{
      padding-left: 0;
      padding-right: 0;
    }
    &__wrapper{
      flex-wrap: wrap;
    }
    &__info{
      width: 100%;
      padding: 50px 20px 20px;
    }
    &__content{
      width: 100%;
      padding: 50px 20px 20px;
    }
  }
}
