.hero-banner {
  position: relative;

  &__image {
    width: 100%;
    height: 700px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);

    h1 {
      font-weight: bold;
      margin-bottom: 15px;
      color: #fff;
      white-space: break-spaces;
    }

    p {
      margin-top: 0;
      margin-bottom: 30px;
      white-space: break-spaces;

      .page-template-collection-detail & {
        max-width: 450px;
        margin-right: auto;
        margin-left: auto;
      }
    }

    .btn {
      width: 100%;
      max-width: 245px;
    }

  }

  &--center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    text-align: center;
  }
}


.section {
  position: relative;
  padding-top: 120px;
  padding-bottom: 75px;

  &--gray {
    background-color: $color-dark5;
  }

  &--dark {
    background-color: $color-black;
  }

  &--primary {
    background-color: $color-primary;
    padding-top: 70px;
    padding-bottom: 25px;
  }

  &--orange {
    background-color: rgba($color-primary, 0.1);
  }
}

.collection-about{
  padding-top: 80px;
  padding-bottom: 80px;
  &__container{
    margin: 0 auto;
  }
  h3{
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    margin: 0;
  }
}
.heading {
  margin-bottom: 45px;

  &__tag {
    display: block;
    color: $color-dark2;
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    padding-left: 14px;
    position: relative;
    margin-bottom: 15px;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      height: 18px;
      width: 4px;
      background-color: $color-primary;
      transform: translateY(-50%);
    }
  }

  &__title {
    font-weight: bold;
    a{
      &:hover{
        color: $color-primary;
      }
    }
  }

  &--white {
    .heading {
      &__tag {
        color: #fff;
      }

      &__title {
        color: #fff;
      }
    }
  }
}

.sub-heading {
  display: block;
  text-align: center;
  color: #fff;
  font-weight: 600;
  width: 100%;
  margin-bottom: 5px;
}

.collection-grid {
  padding-bottom: 30px;

  &__thumbnail {
    position: relative;
    height: 0;
    padding-top: 100%;
    margin-bottom: 20px;
    overflow: hidden;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all .3s;
    }

    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }

  &__title {
    display: inline-flex;
    position: relative;
    font-weight: bold;
    color: $color-heading;
    margin-bottom: 0;
    text-transform: uppercase;

    &.text--center {
      justify-content: center;
      width: 100%;
    }

    &:hover{
      color: $color-primary;
    }
  }

  &__count {
    position: absolute;
    left: 100%;
    top: -2px;
    margin-left: 8px;
    font-size: 14px;
    line-height: 22px;
    color: $color-primary;
  }
}

.home-services {
  overflow: hidden;

  &__image {
    position: absolute;
    right: 0;
    top: 0;
    width: 28%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }

  &__item {
    h3 {
      font-weight: 600;
      margin-bottom: 10px;
    }

    p {
      font-size: 16px;
      line-height: 24px;
      color: $color-heading;
      margin-bottom: 12px;
      margin-top: 0;
    }
  }
}


.readmore {
  display: flex;
  align-items: center;
  color: $color-primary;
  font-weight: 600;

  span {
    display: flex;
    width: 14px;
    height: 14px;
    margin-left: 5px;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &:hover {
    color: $color-primary-dark;
  }
}

.home-why-us {
  margin-bottom: 100px;

  &__image {
    margin-top: -190px;

    img {
      transform: translateY(190px);
    }
  }
}

.why-us {
  &__item {
    display: flex;
    padding-bottom: 30px;

    &--dark {
      color: $color-dark;

      .why-us {
        &__icon {
          background-color: rgba($color-primary, 0.1);
        }

        &__content {
          color: $color-dark;

          h4 {
            color: $color-dark;
          }

          p {
            color: $color-dark;
          }
        }
      }
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 50px;
    height: 50px;
    margin-right: 20px;
    background-color: rgba(#fff, 0.05);

    svg {
      display: flex;
      width: 20px;
      height: 20px;
    }
  }

  &__content {
    h4 {
      font-weight: 600;
      color: #fff;
      font-size: 20px;
      line-height: 20px;
      margin-bottom: 10px;
    }

    p {
      margin: 0;
    }
  }
}

.home-blog {
  overflow: hidden;
  width: 100%;
  padding-bottom: 120px;

  &__slider {
    overflow: visible;
    display: -webkit-box;
    flex-flow: nowrap;
  }

  &__action {
    display: flex;
    justify-content: space-between;
  }
}

.blog-grid {
  display: flex;
  flex-flow: column;
  padding-bottom: 50px;
  height: 100%;

  &__thumbnail {
    position: relative;
    padding-top: percentage(249/322);
    height: 0;
    margin-bottom: 15px;
    overflow: hidden;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__date {
    display: block;
    font-size: 14px;
    line-height: 22px;
    color: $color-dark2;
    margin-bottom: 4px;
  }

  &__title {
    flex: 1;
    font-weight: 600;
    a{
      &:hover{
        color: $color-primary;
      }
    }
  }

  &__description {
    color: $color-dark1;
    margin: 0 0 10px;
  }
}

.slide {
  &-arrow {
    display: flex;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 45px;
      height: 45px;
      margin-right: 10px;
      padding: 0;
      border-radius: 0;
      background-color: $color-dark5;
      color: $color-dark2;
      cursor: pointer;
      transition: all .3s;

      &.is-active, &:hover {
        background-color: $color-primary;
        color: #fff;
      }
    }
  }
}

@media screen and (max-width: $mobile) {
  h1, .h1 {
    font-size: 34px;
    line-height: 40px;
  }
  h2, .h2 {
    font-size: 30px;
    line-height: 38px;
  }
  .hero-banner {
    &__image {
      height: 510px;
    }

    &__content {
      h1 {
        margin-bottom: 15px;
      }

      p {
        margin-bottom: 30px;

        br {
          display: none;
        }
      }
    }
  }
  .section {
    padding-top: 60px;
    padding-bottom: 60px;

    &--collection {
      .grid {
        .grid__column {
          width: 50% !important;
        }
      }
    }

    &--primary{
      .heading{
        margin-bottom: 0;
        &__title{
          margin-bottom: 0;
        }
      }
    }
  }
  .heading {
    margin-bottom: 25px;

    &__tag {
      color: $color-dark2 !important;
    }
  }
  .collection-grid {
    padding-bottom: 15px;

    &__title {
      font-size: 16px;
      line-height: 24px;
    }
  }
  .home-services {
    &__item{
      margin-bottom: 20px;
    }
    &__image {
      position: relative;
      width: 100%;
      padding: 0 20px;
      padding-top: 20px;

      img {
        width: 100%;
        height: auto;
      }
    }
  }
  .home-why-us {
    margin-bottom: 0;

    .grid {
      flex-flow: column-reverse;
    }

    .heading {
      margin-bottom: 40px;
    }

    &__image {
      margin-top: 0;

      img {
        transform: none;
      }
    }
  }
  .home-blog {
    .heading {
      margin-bottom: 50px;
    }

    .swiper-slide {
      max-width: 280px;
    }
  }
  .blog-grid {
    padding-bottom: 30px;
  }
  .slide-arrow {
    display: none;
  }
  .collection-about{
    h3{
      font-size: 16px;
      line-height: 26px;
    }
  }
  .collection-info{
    .grid{
      margin-bottom: 0;
    }
  }
  .collection-fool{
    .grid{
      .grid__column{
        width: 50%;
      }
    }
  }
  .grid--rev{
    flex-flow: column-reverse;
  }
  .page-banner{
    .hero-banner__image{
      height: 418px;
    }
  }
}

.why-us__btn {
  margin-left: 70px;

  @media screen and (min-width: $mobile + 1) {
    padding: 0 17px;
  }

  @media screen and (min-width: $tablet + 1) {
    padding: 0 45px;
  }
}
