.product-detail {
  padding-top: 170px;

  &__summary {
    padding-bottom: 105px;
  }

  &__thumbnail {
    position: relative;
    height: 0;
    width: 100%;
    padding-top: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    padding-left: 20px;
  }

  &__title {
    margin-top: 30px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    margin-bottom: 0;
  }

  &__price {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    del{
      font-size: 14px;
      opacity: 0.7;
      margin-left: 5px;
    }
  }

  &__description {
    margin-top: 30px;
    padding-top: 30px;
    margin-bottom: 20px;
    border-top: 1px solid rgba(#000, 0.1);
  }

  &__variant {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 100px;

    &-label {
      font-weight: 600;
      margin-right: 60px;
    }
  }

  &__related {
    padding-top: 80px;
    padding-bottom: 45px;
    background-color: $color-dark5;
  }

  &__policy {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgba(218, 118, 0, 0.1);
  }

  &__slider {
    .swiper-button-next,
    .swiper-button-prev {
      &:after {
        display: none;
      }

      &:before {
        content: "";
        width: 18px;
        height: 18px;
        display: block;
        border-bottom: 4px solid #fff;
        border-right: 4px solid #fff;
      }
    }

    .swiper-button-next {
      right: 25px;

      &:before {
        transform: rotate(-45deg);
      }
    }

    .swiper-button-prev {
      left: 25px;

      &:before {
        transform: rotate(135deg);
      }
    }

    .swiper-pagination {
      bottom: 25px;
    }

    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      background-color: #fff;
      opacity: 1;
    }

    .swiper-pagination-bullet-active {
      background-color: $color-primary;
    }
  }
}

.breadcrumb {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: $color-dark2;

  a {
    color: $color-primary;

    &:after {
      content: "/";
      margin: 0 3px 0 6px;
      color: $color-dark2;
    }
  }

  span {
    color: $color-dark2;
  }
}

.policy {
  &-item {
    display: flex;
    align-items: center;
    flex-flow: column;
  }

  &-icon {
    margin-bottom: 14px;
  }

  &-title {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    text-align: center;
  }
}

.woocommerce-page {
  main {
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: auto;
      height: 50px;
      background-color: $color-primary;
      border-radius: 0;
      padding: 10px 30px;
      color: $color-white;
      font-weight: 600;
      transition: opacity 0.3s ease-in-out;
      cursor: pointer;
    }

    button[disabled] {
      opacity: 0.5;
      cursor: initial;
    }

    input[type='text'],
    input[type='email'],
    input[type='tel'] {
      border: 1px solid $color-dark6;
      border-radius: 0;
      line-height: 28px;
      padding: 10px;
    }

    textarea {
      min-height: 120px;
      border: 1px solid $color-dark6;
      border-radius: 0;
      padding: 10px;
    }

    .required {
      color: red;
    }

    .select2-container {
      .select2-selection--single {
        position: relative;
        height: auto;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 8px;
        border-radius: 0;
        border-color: $color-dark4;
        outline: none !important;

        .select2-selection__arrow {
          top: 50%;
          right: 16px;
          width: 16px;
          height: 16px;
          background-image: url("images/down.svg");
          background-repeat: no-repeat;
          background-size: 16px;
          background-position: center;
          transform: translate3d(0, -50%, 0);
          transition: all .3s;

          b {
            display: none;
          }
        }
      }

      &--open {
        .select2-selection--single {
          .select2-selection__arrow {
            transform: rotate(180deg) translate3d(0, 50%, 0);
          }
        }
      }
    }
  }

  .select2-dropdown {
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
    border: none;
    border-radius: 0;

    &.select2-dropdown--above {
      margin-bottom: 7px;
    }

    &.select2-dropdown--below {
      margin-top: 7px;
    }
  }

  .select2-container--default .select2-results>.select2-results__options {
    max-height: 300px;
  }

  .select2-results__option {
    padding: 13px 20px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

    &:focus {
      outline: none;
    }
  }

  .select2-container--default .select2-results__option--highlighted[aria-selected],
  .select2-container--default .select2-results__option--highlighted[data-selected] {
    background-color: $color-primary;
  }
}

.admin-bar {
  > .select2-container.select2-container--open {
    transform: translateY(32px);
  }
}

.filter-box {
  padding-top: 30px;
  padding-bottom: 33px;
  border-bottom: 1px solid $color-dark5;
}

.filter-box__inner {
  max-width: 795px;
  margin: 0 auto;

  > form {
    flex: 1 0 33.333333%;
    padding: 0 10px;

    .select2-container {
      width: 100% !important;
    }
  }
}

.filter-box--desktop {
  display: none;
}

.filter-popup__apply {
  width: 100%;
}

.woocommerce-ordering {
  position: relative;

  .orderby {
    padding: 10px 16px 11px;
    border: 1px solid #E7E7E7;
    border-radius: 2px;
  }
}

ul.products {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0 -10px;
  padding: 0;
  list-style: none;
}

li.product {
  position: relative;
  width: 50%;
  margin-bottom: 30px;
  padding: 0 10px;

  .add_to_cart_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 50px;
    background-color: $color-primary;
    color: $color-white;
    font-weight: 600;
  }

  .price {
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;

    del{
      font-size: 14px;
      opacity: 0.7;
      margin-right: 5px;
    }

    ins,
    bdi {
      color: $color-primary
    }
  }

  &:hover {
    .sport-floor-action-button {
      transform: translateY(0);
    }
  }

  .added_to_cart.wc-forward {
    display: none;
  }
}

.sport-floor-product-thumb {
  position: relative;
  margin-bottom: 15px;
  overflow: hidden;
}

.sport-floor-action-button {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}

.woocommerce-loop-product__link {
  position: relative;
  display: block;

  .size-woocommerce_thumbnail {
    width: 100%;
  }
}

.onsale {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 3px 10px 5px;
   background-color: $color-primary;
  font-weight: 600;
  color: #fff;
}

.woocommerce-loop-product__title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  margin-bottom: 0;
  text-align: center;
  transition: color 0.3s ease-in-out;

  &:hover {
    color: $color-primary;
  }
}

// Product Detail page
.product-detail {}

.product-detail__slider {
  height: 100%;
}

.product-detail__thumbnails {
  position: relative;
  width: 100%;
  padding-bottom: calc(100%);

  img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* stylelint-disable */
    font-family: 'object-fit: cover;';
    /* stylelint-enable */
  }
}

.product-form__cart {
  display: flex;
  align-items: center;

  button.plus,
  button.minus {
    width: 48px;
    height: 48px;
    margin: 0;
    background-color: #fff0;
    border: 1px solid $color-dark4;
    border-radius: 0;
    transition: all .3s;

    &:hover{
      background-color: #FBF1E6;
      color: $color-primary;
    }
  }
}

.single_add_to_cart_button {
  width: 100%;
  border-radius: 0;
}

.quantity {
  display: flex;
  align-items: center;
  margin-right: 15px;

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border: 1px solid $color-dark4;
    transition: all .3s;
    &:hover{
      background-color: #FBF1E6;
      color: $color-primary;
    }
  }

  input {
    text-align: center;
    width: 60px;
    height: 48px;
    background-color: #fff0;
    border: 1px solid $color-dark4;
    border-radius: 0;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &[type='number'] {
      border-right: none;
      border-left: none;
    }

    &[type='button']:hover {
      background-color: #FBF1E6;
      color: $color-primary;
    }
  }
}

.woocommerce-notices-wrapper {
  max-width: 1160px;
  margin: 20px auto;
  padding-right: 60px;
  padding-left: 60px;

  .wc-forward {
    color: $color-primary;
    text-decoration: underline;
  }
}

.return-to-shop {
  max-width: 1160px;
  margin: 20px auto;
  padding-right: 60px;
  padding-bottom: 60px;
  padding-left: 60px;
}

.cart-empty.woocommerce-info {
  max-width: 1160px;
  margin: 20px auto;
  padding-right: 60px;
  padding-left: 60px;
}

.related.products {
  > h2 {
    margin-bottom: 45px;
    font-weight: 700;
    text-align: center;
  }
}

// Woocommerce Cart page
.woocommerce-cart {
  .site-main {
    padding-top: 170px;
  }

  .entry-header {
    max-width: 1160px;
    padding-left: 60px;
    padding-right: 60px;
    width: 100%;
    margin: 0 auto;
  }
}

.woocommerce-cart__inner {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}

.woocommerce-cart-form {
  flex: 1 0 70%;
  padding-right: 10px;
  margin-top: 7px;
}

.cart-collaterals {
  flex: 1 0 30%;
  padding-left: 10px;
}

.shop_table {
  border-collapse:collapse;

  thead {
    background-color: $color-dark4;

    th {
      padding: 10px;
      text-align: left;
    }
  }

  td {
    padding: 5px;
  }

  tbody tr:first-child td {
    padding-top: 10px;
  }

  th {
    .cart_totals & {
      text-align: left;
    }
  }

  .remove {
    font-size: 18px;
    font-weight: 700;
    color: red;
  }

  .product-remove {
    text-align: center;
  }
}

.coupon {
  display: flex;
  align-items: center;
  margin: 10px 0 30px;

  label {
    margin-right: 15px;
  }

  input {
    margin-right: 15px;
  }
}

.checkout-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 50px;
  background-color: $color-primary;
  color: $color-white;
  font-weight: 600;
}

.cart_totals {
  > h2 {
    font-size: 30px;
  }
}

.woocommerce-error {
  margin: 0 auto 20px;
  padding: 0;
  list-style: none;
  color: red;
}

.woocommerce-message {
  color: green;
}

// Woocommerce Checkout Page

.woocommerce-checkout {
  .site-main {
    padding-top: 170px;
  }

  .entry-header {
    max-width: 1160px;
    padding-left: 60px;
    padding-right: 60px;
    width: 100%;
    margin: 0 auto;
  }
}

.showcoupon {
  text-decoration: underline;
  transition: color 0.3s ease-in-out;

  &:hover {
    color: $color-primary;
  }
}

.woocommerce-checkout__inner {
  margin-bottom: 50px;
}

.woocommerce-form-coupon {
  margin-top: 5px;

  p.form-row {
    &:last-child {
      margin: 0;
    }

    &:first-child {
      margin: 0 10px 0 0;
    }
  }
}

#customer_details {
  flex: 1 0 50%;
  padding-right: 15px;
}

.woocommerce-checkout__order {
  flex: 1 0 50%;
  padding-left: 15px;
}

.wc_payment_methods {
  margin: 0 0 20px;
  padding: 0;
  list-style: none;
}

.woocommerce-terms-and-conditions-wrapper {
  margin-bottom: 20px;
}

.woocommerce-billing-fields__field-wrapper {
  > p {
    display: flex;
    align-items: center;

    > label {
      margin-right: 15px;
    }

    > .woocommerce-input-wrapper {
      flex: 1 0 auto;
    }

    input {
      width: 100%;
    }
  }
}

.woocommerce-additional-fields {
  margin-top: 30px;
}

.woocommerce-products-header {
  display: none;
}

// Mini Cart
.site-actions__mini-cart {
  position: relative;
  padding: 0 24px;
}

.mini-cart {
  position: absolute;
  top: calc(100% + 20px);
  right: -25px;
  width: 350px;
  padding: 30px;
  background-color: $color-white;
  border-radius: 4px;
  box-shadow: 0px 20px 40px rgba(74, 86, 104, 0.08);
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out;

  &::before {
    content: '';
    position: absolute;
    top: -6px;
    right: 50px;
    width: 12px;
    height: 12px;
    background-color: $color-white;
    box-shadow: 0px 20px 40px rgba(74, 86, 104, 0.08);
    transform: rotate(45deg);
  }

  .site-actions__mini-cart:hover & {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

.woocommerce-mini-cart {
  margin: 0;
  padding: 0;
  list-style: none;

  .quantity {
    margin-right: 0;
    color: $color-dark2;

    span {
      width: auto;
      height: auto;
      margin-left: 2px;
      border: none;
      background-color: transparent;
    }

    bdi {
      display: flex;
      font-weight: 600;
      color: $color-primary;
    }
  }

  .remove_from_cart_button {
    position: absolute;
    top: 0;
    right: 0;
    width: 16px;
    height: 16px;
    font-size: 40px;
    line-height: 16px;
    text-align: center;
    color: $color-dark2;
    font-weight: 400;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: $color-primary;
    }
  }
}

.woocommerce-mini-cart-item {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  padding: 0 35px 0 0;

  > a {
    display: block;
    width: 70px;
    margin-right: 15px;
    font-weight: 600;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: $color-primary;
    }
  }
}

.attachment-woocommerce_thumbnail {
  width: 100%;
  height: auto;
  border: 1px solid $color-dark5;
}

.woocommerce-mini-cart-item__body {
  width: calc(100% - 85px);
  > a {
    font-weight: 600;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: $color-primary;
    }
  }
}

.woocommerce-mini-cart__total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 0;
  padding-top: 16px;
  border-top: 1px solid $color-dark5;
  color: $color-dark2;

  strong {
    font-weight: 400;
  }

  .woocommerce-Price-amount {
    font-weight: 600;
    color: $color-black;
  }
}

.woocommerce-mini-cart__buttons {
  display: flex;
  flex-direction: column;

  .wc-forward {
    display: block;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: $color-white;
    border: 1px solid $color-primary;
    text-align: center;
    font-weight: 600;
    color: $color-primary;

    &.checkout {
      margin-top: 16px;
      background-color: $color-primary;
      border-color: $color-primary;
      color: $color-white;
    }
  }
}

@media screen and (min-width: $mobile+1) {
  li.product {
    width: 25%;
  }

  .woocommerce-loop-product__title {
    font-size: 16px;
    line-height: 24px;
  }

  .woocommerce-ordering {
    margin: 0;
    padding: 0;
    border: none;
  }

  .filter-box--desktop {
    display: block;
  }

  .filter-box--mobile {
    display: none;
  }
}

@media screen and (max-width: $tablet) {
  .single_add_to_cart_button {
    padding: 0;
  }

  .shop_table {
    .product-thumbnail {
      display: none;
    }
  }

  .woocommerce-checkout__inner {
    flex-direction: column;
  }

  #customer_details {
    flex: 1 0 100%;
    margin-bottom: 20px;
    padding-right: 0;
  }

  .woocommerce-checkout__order {
    flex: 1 0 100%;
    padding-left: 0;
  }
}

@media screen and (max-width: $mobile) {
  .product-detail{
    padding-top: 120px;
    &__slider {
      .swiper-button-next,
      .swiper-button-prev{
        display: none;
      }
      .swiper-pagination{
        bottom: 16px;
      }
    }
    &__title{
      margin-top: 15px;
    }
    &__variant{
      margin-bottom: 0;
    }
    &__summary{
      padding-bottom: 50px;
    }
    &__related{
      padding-top: 60px;
      .grid{
        &__column{
          width: 50%;
        }
      }
    }
  }
  .policy-item{
    margin-bottom: 30px;
  }

  .product-form__cart {
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 82px;
    background-color: #fff;
    z-index: 990;
    padding: 0 20px;
    .btn{
      max-width: 182px;
      padding: 0;
    }
  }

  .quantity input {
    width: 50px;
  }

  .woocommerce-page {
    .entry-header {
      padding-right: 20px;
      padding-left: 20px;
    }

    main {
      button {
        display: block;
        width: 100%;
        padding: 10px 15px;
      }
    }
  }

  .woocommerce-cart {
    .site-main {
      padding-top: 110px;
    }

    .quantity {
      margin-right: 0;
      input {
        width: 30px;
        padding: 0;
      }
    }
  }

  .woocommerce-notices-wrapper,
  .return-to-shop,
  .cart-empty.woocommerce-info {
    padding-right: 20px;
    padding-left: 20px;
  }

  .woocommerce-cart__inner {
    flex-direction: column;
  }

  .woocommerce-cart-form {
    flex: 1 0 100%;
    padding-right: 0;
  }

  .shop_table {
    font-size: 12px;

    .product-thumbnail {
      display: none;
    }

    .product-quantity {
      max-width: 85px;
    }

    .update-cart--button {
      width: calc(100% - 30px);
      margin: 0 15px;
    }
  }

  .woocommerce-cart__container {
    padding-left: 0;
    padding-right: 0;
  }

  .coupon label,
  .coupon input {
    margin-right: 5px;
  }

  .cart-collaterals {
    flex: 1 0 100%;
    padding: 0 20px;
  }
}

@media screen and (max-width: 375px) {
  .woocommerce-billing-fields__field-wrapper > p > label {
    display: block;
    max-width: 75px;
    word-break: break-word;
  }

  .mini-cart {
    width: 320px;
    padding: 20px;
  }
}

@media screen and (max-width: 320px) {
  .mini-cart {
    right: -45px;
    width: 305px;
    padding: 20px;

    &::before {
      right: 70px;
    }
  }
}
