.search-results {
  .search {
    padding: 180px 0 80px;
  }
}

.search__result__list {
  margin-bottom: 50px;
}

.search__result__meta {
  margin-bottom: 20px;
}

.search-card__image-wrapper {
  position: relative;
  margin-bottom: 15px;

  &::before {
    content: '';
    display: block;
    width: 100%;
    padding-bottom: 77.32919%;
  }

  img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    object-fit: cover;
  }
}

.search-card__title {
  font-weight: 600;

  a:hover {
    color: $color-primary;
  }
}
