.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110px;
  border-bottom: 1px solid $color-dark5;

  &-form {
    &__wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .form__control {
    width: 240px;
  }
}

.form {
  &__field {
    padding: 0 10px;
  }

  &__control {
    height: 44px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    padding: 0 16px;
    border: 1px solid #E7E7E7;
    border-radius: 2px;
  }
}

.custom-select {
  position: relative;

  select {
    display: none;
  }

  .select-selected {
    display: flex;
    align-items: center;
    height: 44px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    padding: 0 16px;
    border: 1px solid #E7E7E7;
    border-radius: 2px;
    width: 245px;
    background-color: #fff;
    position: relative;
    z-index: 2;

    &:before {
      content: "";
      width: 16px;
      height: 16px;
      position: absolute;
      right: 16px;
      top: 50%;
      background-image: url("images/down.svg");
      background-repeat: no-repeat;
      background-size: 16px;
      background-position: center;
      transform: translate3d(0, -50%, 0);
      transition: all .3s;
    }

    &.select-arrow-active {
      &:before {
        transform: rotate(180deg) translate3d(0, 50%, 0);
      }
    }
  }

  .select-items {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
    background-color: #fff;
    transition: all .3s;
    transform: translateY(3px);
    z-index: 1;

    > div {
      display: flex;
      align-items: center;
      width: 100%;
      height: 55px;
      padding-left: 20px;
      cursor: pointer;
      transition: all .3s;

      &:hover {
        background-color: $color-primary;
        color: #fff;
      }

    }

    &.select-hide {
      opacity: 0;
      pointer-events: none;
      visibility: hidden;
      transform: translateY(10px);
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  list-style: none;

  &__number,
  .page-numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

    &:hover, &.is-active, &.current {
      background-color: $color-primary;
      color: #fff;
    }
  }

  &__button,
  .prev,
  .next {
    display: block;
    width: auto;
    height: auto;
    margin: 0 80px;
    background-color: transparent;
    font-size: 16px;
    font-weight: 600;

    &:hover {
      background-color: transparent;
      color: $color-primary;
    }

    &.next {
      margin-right: 0;
    }

    &.prev {
      margin-left: 0;
    }
  }

  &__disabled {
    color: $color-dark2;
    pointer-events: none;
  }
}
.shop-product{
  padding-top: 65px;
}

.filter-popup {
  position: fixed;
  top: 0;
  right: 0;
  width: 315px;
  height: 100%;
  background-color: #fff;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 30px 25px;
  z-index: 999;
  transform: translateX(100%);
  transition: all .3s;
  -webkit-overflow-scrolling: touch;

  &.is-active {
    transform: translateX(0);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }

  &__title {
    font-size: 22px;
    line-height: 26px;
    font-weight: 600;
    margin-bottom: 0;
  }

  &__clear {
    font-size: 14px;
    line-height: 22px;
    text-decoration: underline;
    color: $color-black;
    margin-right: 20px;

    &:hover {
      color: $color-black;
    }
  }

  &__action {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__close {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;

    &:before, &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      height: 2px;
      width: 18px;
      background-color: $color-dark2;
      transform: translate3d(-50%, -50%, 0);
      border-radius: 2px;
    }

    &:before {
      transform: translate3d(-50%, -50%, 0) rotate(-45deg);
    }

    &:after {
      transform: translate3d(-50%, -50%, 0) rotate(45deg);
    }
  }

  &__select {
    & + & {
      margin-top: 40px;
    }
  }

  &__label {
    display: block;
    width: 100%;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 20px;
  }

  &__radio {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    input {
      display: none;

      &:checked ~ {
        .checkmark {
          border: 1px solid $color-primary;
          background-color: #fff;

          &:before {
            opacity: 1;
          }
        }
      }
    }

    .checkmark {
      width: 20px;
      height: 20px;
      border: 1px solid $color-dark4;
      background-color: $color-dark4;
      position: relative;
      border-radius: 100px;
      margin-right: 10px;

      &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 12px;
        height: 12px;
        margin: -6px 0 0 -6px;
        background-color: $color-primary;
        border-radius: 100px;
        opacity: 0;
        transition: all .3s;
      }
    }

    .label {
      font-size: 16px;
      line-height: 26px;
      font-weight: 500;
    }

  }
}

@media screen and (max-width: $mobile) {
  .shop-grid {
    .grid__column {
      width: 50%;
    }
  }
  .product-card {
    &__title {
      font-size: 16px;
      line-height: 24px;
    }

    &__price {
      padding-bottom: 0;
    }
  }
  .filter {
    height: auto;
    border-bottom: 0;
    padding-top: 60px;
  }
  .shop-product {
    padding-top: 25px;
  }
  .pagination {
    margin-top: 35px;

    &__button {
      margin: 0;

      &:first-child {
        margin-right: 30px;
        font-size: 0;

        &:before {
          content: "Prev";
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
        }
      }

      &:last-child {
        margin-left: 30px;
      }
    }
  }
}

.shop-page__container {
  padding-bottom: 60px;
}

@media screen and (min-width: $mobile+1) {
  .shop-page__container {
    padding-bottom: 75px;
  }
}

@media screen and (min-width: $desk) {
  .shop-banner__content-container {
    max-width: 670px;
    margin: 0 auto;
  }
}
